#erreurCrea{
    color: white;
    background-color: red;
    border-radius: 10px;
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.positionnement{
    display: flex;
    margin: auto;
    width: 50%;
}

#tableauMembres{
    width: 70%;
    margin: auto;
    border: solid black 1px;
}

.btnStyle{
    width: 60%;
}

#btnAffichageUser{
    margin-top: 10px;
    width: 30%;
}

#selectUserMail{
    width: 30%;
}

#formDetail{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

#btnInscription{
    width: 50%;
}

#top_admin{
    margin-top: 125px;
}

#formDetail{
    display: inline-flex;
    width: 100%;
}

#selectUserPret, #selectUserRetour{
    width: 30%;
}

#inputEmprunt{
    width: 30%;
}

#pretBtn, #retourBtn{
    width: 20%;
}

#refreshBtn, #refreshBtnRetour{
    margin-left: 20px;
    width: 20%;
}

#affichagePret{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 120px;
}

#affichageRetour, #bdRetour{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

#affichageErrPret, #affichageErrRetour{
    background-color: red;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}